{{#if emptyRecords}}
<div class="row d-flex justify-content-center text-center mt-5">
    <div class="col-md-12">
        <div class="error-template">
            <h1 class="text-danger">Brak rekordów w bazie danych!</h1>
        </div>
    </div>
</div>
{{/if}}


{{#if data}}
<div class="container container-lg d-flex justify-content-center">
    <select name="edit" id="edit" class="form-select w-25 mt-5 mb-3 mr-3 edit">
        <option value="" disabled selected>Wybierz ID</option>
        {{#each data}}
        <option value="{{this.id}}">Robot ID: {{this.id}}</option>
        {{/each}}
    </select>
</div>
{{/if}}

{{#if selectedElement}}
<div class="container container-lg">
    <div class="form-check-label d-inline text-info">
        <h6>Zakres czasu produkcji: <b>od {{config.productionTimeMin}} do {{config.productionTimeMax}}</b></h6>
    </div>
    <div class="form-check-label d-inline text-info">
        <h6>Zakres ilości części: <b>od {{config.producedPartsMin}} do {{config.producedPartsMax}}</b></h6>
    </div>
    <table class="table mt-3">
        <thead class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Czas produkcji</th>
            <th scope="col">Ilość części</th>
            <th scope="col"></th>

        </thead>
        <tbody>
            {{#each selectedElement}}
            <tr>
                <th scope="row" class="align-middle robot-id">{{this.id}}</th>
                <td>
                    <input class="form-control form-control-sm input-group-text production-time" type="number"
                        value="{{this.productionTime}}">
                </td>
                <td>
                    <input class="form-control form-control-sm input-group-text produced-parts" type="number"
                        value="{{this.producedParts}}">
                </td>
                <td class="text-center"><button type="button" class="btn btn-primary edit-button">Edytuj</button>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}
{{#if editError}}
<div class="d-flex justify-content-center text-center mb-5">
    <div class="error-template w-50">
        <h1 class="text-danger">Podano złą wartość!</h1>
    </div>
</div>
{{/if}}
{{#if edited}}
<div class="d-flex justify-content-center text-center mb-5">
    <div class="error-template w-50">
        <h1 class="text-success">Pomyślnie edytowano!</h1>
    </div>
</div>
{{/if}}
{{#if noChanges}}
<div class="d-flex justify-content-center text-center mb-5">
    <div class="error-template w-50">
        <h1 class="text-warning">Nie zmieniono danych!</h1>
    </div>
</div>
{{/if}}
<script src="http://localhost:3000/javascripts/edit.js"></script>