<form action="/wyniki/generuj" method="post">
    <div class="row d-flex justify-content-center mx-auto text-center mt-5 mb-5 w-50">
        <div class="col-md-12">
            <button class="btn btn-primary btn-lg" name="foo" value="upvote">Generuj</button>
        </div>
        <input type="number" id="amount" name="amount" class="form-control w-25 mt-3" placeholder="Liczba rekordów">
    </div>
</form>

{{#if emptyRecords}}
<div class="row d-flex justify-content-center text-center">
    <div class="col-md-12">
        <div class="error-template">
            <h1 class="text-danger">Brak rekordów w bazie danych!</h1>
        </div>
    </div>
</div>
{{/if}}

{{#if dataError}}
<div class="row d-flex justify-content-center text-center mb-5">
    <div class="col-md-12">
        <div class="error-template">
            <h1 class="text-danger">Podano złą wartość!</h1>
        </div>
    </div>
</div>
{{/if}}



{{#if data}}
<div class="container container-lg">
    <table class="table">
        <thead class="table-dark">
            <th scope="col">ID</th>
            <th scope="col">Czas produkcji</th>
            <th scope="col">Ilość części</th>
            <th scope="col">Efektywność</th>

        </thead>
        <tbody>
            {{#each data}}
            <tr>

                <th scope="row" class="robot-id">{{this.id}}</th>
                <td class="production-time">{{this.productionTime}}</td>
                <td class="produced-parts">{{this.producedParts}}</td>
                <td class="effectivity">{{this.effectivity}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
{{/if}}

{{#each mostEffective}}
{{this.id}}
{{/each}}
<div>
    <canvas id="pieChart" style="margin: 20px auto; width:100%; max-width:600px"></canvas>
    <canvas id="barChart" style="margin: 40px auto; width:100%; max-width:600px"></canvas>
</div>